@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
body{
    background-color: hsl(257, 40%, 49%);
    background-image: url('images/bg-desktop.svg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Poppins, sans-serif;
}
header{
    padding: 3em 0 1em 3em;
}
div.content-container{
    max-width: 1440px;
    margin: 0 auto;
}
div.center{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* flex-wrap: wrap; */
    padding: 3em;
    


}


div.text{
    padding: 35px;
    /* flex-grow: 1; */
    /* width: 100%; */
    /* flex-shrink: 1; */
}
img.center{
/* max-width: 60%; */
}




h2{
    color: white;
    /* font-size: 4vw; */
    font-weight: 600;
    
}
p{
    color: white;
    font-weight: 400;
    /* font-size: 2vw; */
    text-align: left;
  
}
button{
    border-radius: 2em;
    /* padding: 1em; */
    width: 220px;
    height: 55px;
    color: hsl(257, 40%, 49%);
    font-size: large;
}
.social
{
    /* direction: rtl; */
    text-align: right;
    color: white;
    padding-right: 2em;
    font-size: 20px;
    /* text-align: justify; */
}
i{
    border: 1px solid white;
    border-radius: 2em;
    padding: 10px 0 0 0 ;
    width: 40px;
    height: 30px;
    text-align: center;
    /* vertical-align: middle; */
}

@media only screen and (max-width: 375px) {
    body{
        background-image: url('images/bg-mobile.svg'); 
    }
    div.center{
        flex-wrap: wrap;
        text-align: center;
    }
    img.center{
        width: 100%;
    }
    img.huddle{
        width: 45%;
        padding:0;
    }
    .content-container{
        text-align: justify;
    }
  }