@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
    background-color: hsl(257, 40%, 49%);
    background-image: url('images/bg-desktop.svg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Poppins, sans-serif;
}

div.content-container {
    max-width: 1440px;
    margin: 0 auto;
}

header {
    padding: 3em 0 1em 3em;
}

div.center {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 3em;
}

div.text {
    padding: 35px;
}

img.center {
    max-width: 60%;
    flex-basis: 50%;
}

h2 {
    color: white;
    font-weight: 600;
}

p {
    color: white;
    font-weight: 400;
    text-align: left;
}

button {
    border-radius: 2em;
    width: 220px;
    height: 55px;
    color: hsl(257, 40%, 49%);
    font-size: large;
}

button:hover {
    background-color: hsl(300, 69%, 71%);
    color: white;
}

.social {
    text-align: right;
    color: white;
    padding-right: 2em;
    font-size: 20px;
}

i {
    border: 1px solid white;
    border-radius: 2em;
    padding: 10px 0 0 0;
    width: 40px;
    height: 30px;
    text-align: center;
}

i:hover {
    color: hsl(300, 69%, 71%);
    border-color: hsl(300, 69%, 71%);
}

@media only screen and (max-width: 375px) {
    body {
        background-image: url('images/bg-mobile.svg');
    }

    div.center {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    img.center {
        min-width: 100%;
    }

    img.huddle {
        width: 45%;
        margin: 0;
    }

    div.text {
        text-align: center;
    }

    h2 {
        font-size: large;
    }

    p {
        text-align: center;
        font-size: 14px;
    }

    .social {
        text-align: center;
        padding: 0;
    }
}